{% extends 'base.html' %}

{% block title %}
Listado Periodo Contable
{% endblock title %}
{% block head%}
<script type="text/javascript"> 
    $(document).ready(function() {
        $('#enviar').click(function(e){
            e.preventDefault();
                var dataString = $('#form-control').serialize();

            

            $.ajax({
                type: "POST",
                url: '',
                data: dataString,
                success: function(data) {
                window.location.replace("");
                }
            });
        });
    });
</script>
{% endblock head%}
{% block content %}
<div align="center">
<a href="/generador/{{periodoId}}">Regresar</a>
	<form id="form-control">
	{%csrf_token%}
	<input type="submit" name="enviar" id="enviar" value="Cargar Balance de Comprobacion">
	</form>
	<table>
	<tr>
		<td>Cuenta</td>
		<td>Deudor</td>
		<td>Acreedor</td>
	</tr>
	<tr>
		{% for cuentas in cuenta %}
		{% if cuentas.haber != 0.00 or cuentas.debe != 0.00%}
		<td>{{cuentas.nombre}}</td>
		<td>{{cuentas.saldoDeudor}}</td>
		<td>{{cuentas.saldoAcreedor}}</td>
	</tr>
		{% endif %}
		{% endfor %}
	<tr>
		{% for balance in estados%}
		<td>Total</td>
		<td><b>{{balance.debe}}</b></td>
		<td><b>{{balance.haber}}</b></td>
	</tr>
		{% endfor %}
	</table>


</div>
{% endblock content %}