{% extends 'base.html'%}
{% block head%}
<script type="text/javascript"> 
    $(document).ready(function() {
        $('#enviar').click(function(e){
            e.preventDefault();
                var dataString = $('#form-control').serialize();


            $.ajax({
                type: "POST",
                url: '',
                data: dataString,
                success: function(data) {
                window.location.replace("");
                }
            });
        });
    });
</script>
{% endblock head%}
{% block content%}

<div>
<form id='form-control' method="POST">
	{%csrf_token%}
	<table>
	<tc>
		 <tr>
		 				<td>Tipo de Pan: </td>
                          <td>
                            <select style="width:100%" name="productoId"> 
                              {% for producto1 in tipoPan %}
                              <option value="{{producto1.id}}">{{producto1.descripcion}}</option>
                              {% endfor %}
                            </select>
                          </td>
                        </tr>
    </tc>
    <tc>
    	<tr>
    	{% for costos in cif %}
    		<td>CIF:</td>
			<td><input type="number" name="cif" readonly="readonly" value="{{costos.porcentaje}}"></td>
		</tr>
		{% endfor %}
	</tc>
	<tc>
    <tr>
			<td>Descripcion: </td>
			<td><input type="text" name="descripcion"></td>
		</tr>
	</tc>
	<tc>
    <tr>
			<td>Sueldo por Dia: </td>
			<td><input type="text" name="sueldos" readonly="readonly" value="$10"></td>
		</tr>
	</tc>
	<tc>
    <tr>
			<td>Dias Trabajados: </td>
			<td><input type="number" name="diasTrabajados"></td>
		</tr>
	</tc>
	<tc>
    <tr>
			<td>Fecha de Creacion: </td>
			<td><input type="date" name="fechaCreacio"></td>
		</tr>
	</tc>
	<tc>
    <tr>
			<td>Fecha de Entrega: </td>
			<td><input type="date" name="fechaEntrega"></td>
		</tr>
	</tc>

	</table>
	<input type="submit" name="enviar" id="enviar" value="Guardar" class="btn btn-primary" style="margin-left: 41%">  
</form>
</div>

{% endblock content%}