{% extends 'base.html' %}

{% block title %}
Listado Periodo Contable
{% endblock title %}

{% block head %}
<script type="text/javascript"> 
    $(document).ready(function() {
        $('#enviar').click(function(e){
            e.preventDefault();
                var dataString = $('#form-control').serialize();

           

            $.ajax({
                type: "POST",
                url: '',
                data: dataString,
                success: function(data) {
                window.location.replace("");
                }
            });
        });
    });
</script>
{% endblock head %}

{% block content %}
<div>
<table>
<tr><td><h3>Ingresos</h3></td></tr>
	<tr>
		<td>Cuentas</td>
		<td>Descripcion</td>
		<td>------</td>
		<td></td>
		<td>Total</td>
	</tr>
	<tr>
	{% for ingresos in Ingreso%}
	{% if ingresos.saldoAcreedor != 0.00 %}
	<td>{{ingresos.nombre}}</td>
	<td>{{ingresos.descripcion}}</td>
	<td align="center"></td>
	<td></td>
	<td align="center">{{ingresos.saldoAcreedor}}</td>
	</tr>
	{% endif %}
	{% endfor %}
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>_____</td>
	</tr>
	<tr>
	{% for resultados in resultado %}
	<td></td>
	<td>Total</td>
	<td></td>
	<td align="center"></td>
	<td align="center">{{resultados.haber}}</td>
	</tr>
	{% endfor %}
	<tr><td><h3>Gastos</h3></td></tr>
		<tr>
		<td>Cuentas</td>
		<td>Descripcion</td>
		<td>------</td>
		<td>Total</td>
		<td></td>
	</tr>
	<tr>
	{% for gastos in Gasto%}
	{% if gastos.saldoDeudor != 0.00 %}
	<td>{{gastos.nombre}}</td>
	<td>{{gastos.descripcion}}</td>
	<td></td>
	<td align="center">{{gastos.saldoDeudor}}</td>
	<td align="center"></td>
	{% endif %}
	</tr>
	{% endfor %}
	<tr>
	{% for gastos in Gasto2%}
	{% if gastos.saldoDeudor != 0.00 %}
	<td>{{gastos.nombre}}</td>
	<td style="font-size: 13px">{{gastos.descripcion}}</td>
	<td></td>
	<td align="center">{{gastos.saldoDeudor}}</td>
	<td align="center"></td>
	</tr>
	{% endif %}
	{% endfor %}
	<tr>
	{% for gastos in Gasto3 %}
	{% if gastos.saldoDeudor != 0.00 %}
	<td>{{gastos.nombre}}</td>
	<td>{{gastos.descripcion}}</td>
	<td></td>
	<td align="center">{{gastos.saldoDeudor}}</td>
	<td align="center"></td>
	</tr>
	{% endif %}
	{% endfor %}
	<tr>
	{% for gastos in Gasto4 %}
	{% if gastos.saldoDeudor != 0.00 %}
	<td>{{gastos.nombre}}</td>
	<td>{{gastos.descripcion}}</td>
	<td></td>
	<td align="center">{{gastos.saldoDeudor}}</td>
	<td align="center"></td>
	</tr>
	{% endif %}
	{% endfor %}
	</tr>
		<tr>
		<td></td>
		<td></td>
		<td></td>
		<td>_____</td>
		<td></td>
	</tr>
	<tr>
	{% for resultados in resultado %}
	<td></td>
	<td>Total</td>
	<td></td>
	<td align="center">{{resultados.debe}}</td>
	<td align="center"></td>
	{% endfor %}
	</tr>

	{% for resultados in resultado%}
		{% if resultados.haber > resultados.debe%}
		<tr>
			<td>Utilidades:</td>
		</tr>
		<tr>
		<td>Utilidad Bruta:</td>
		<td>{{resultados.utilidades}}</td>
		</tr>
		<tr>
			{% for reserva in capital%}
			{% if reserva.saldoAcreedor != 0.00%}
			<td>{{reserva.nombre}}</td>
			<td>{{reserva.saldoAcreedor}}</td>
			{% endif %}
			{% endfor %}
		</tr>
		<tr>
			{% for impuesto in impuestoRenta %}
			{% if impuesto.saldoDeudor != 0.00%}
			<td>{{impuesto.nombre}}</td>
			<td>{{impuesto.saldoDeudor}}</td>
			{% endif %}
			{% endfor %}
		</tr>
		<tr>
		<td>Utilidad Neta:</td>
		<td>{{resultados.utilidadNeta}}</td>
		</tr>

		{% endif %}

		{% if resultados.haber < resultados.debe%}
		<tr>
		<td>Utilidades:</td>
		<td>Perdida:</td>
		<td>({{resultados.utilidades}})</td>
		</tr>
		{% endif%}

		{% if resultados.haber == resultados.debe %}
		<tr>
		<td>Utilidades</td>
		<td>No existe Utilidad ni Perdida</td>
		</tr>
		{% endif %}
		{% endfor%}
	</table>
</div>
{% endblock content %}