{% extends 'base.html' %}

{% block title %}
Listado Periodo Contable
{% endblock title %}

{% block head %}
<script type="text/javascript"> 
    $(document).ready(function() {
        $('#enviar').click(function(e){
            e.preventDefault();
                var dataString = $('#form-control').serialize();

            alert('Datos serializados: '+dataString);

            $.ajax({
                type: "POST",
                url: '',
                data: dataString,
                success: function(data) {
                window.location.replace("/catalogo/");
                }
            });
        });
    });
</script>
{% endblock head %}


{% block content %}
<div align="center">
	<form id="form-control">
	{% csrf_token%}
		<table>
		{% for cuentaHija in cuenta%}
			<tr>
				<tc>
					<td><input type="hidden" name="idCuenta" value="{{cuentaHija.id}}" readonly="readonly">
				</tc>
			</tr>
			<tr>
				<tc>
					<td>Codigo de Cuenta:</td>
				</tc>
				<tc>
					<td><input type="number" name="codigoCuenta" value="{{cuentaHija.codigo}}" readonly="readonly"></td>
				</tc>
			</tr>
			<tr>
				<tc>
					<td>Nombre de Cuenta:</td>
				</tc>
				<tc>
					<td><input type="text" name="nombreCuenta" value="{{cuentaHija.nombre}}"></td>
				</tc>
			</tr>
			<tr>
				<tc>
					<td>Descripcion de Cuenta:</td>
				</tc>
				<tc>
					<td><input type="text" name="descripcionCuenta" value="{{cuentaHija.descripcion}}"></td>
				</tc>
			</tr>
			<tr>
				<tc>
					<td>Saldo Debe:</td>
				</tc>
				<tc>
					<td><input type="number" name="debeCuenta" step="0.1"></td>
				</tc>
			</tr>
			<tr>
				<tc>
					<td>Saldo Haber:</td>
				</tc>
				<tc>
					<td><input type="number" name="haberCuenta" step="0.1"></td>
				</tc>
			</tr>
		</table>
		{% endfor %}
		<input type="submit" name="enviar" id="enviar" value="Guardar">
		<a href="/catalogo/"><input type="button" value="Regresar"></a>
	</form>

</div>
{% endblock content %}