{% extends 'base.html' %}

{% block title %}
Listado Periodo Contable
{% endblock title %}

{% block content %}
<div align="center">
<table>

<tr>
	{% if cant == 0%}
	<td align="center"><a href="nuevoPeriodo/">Agregar Periodo Contable</a></td>
	{% endif %}
	<td align="center"><a href="/index/">Regresar</a></td>
<tr>
	<td align="center">Fecha Inicio</td>
	<td align="center">Fecha Fin</td>
	<td align="center">Ver</td>
	<td align="center">Estado</td>

</tr>
{% for periodo in periodoCont %}
<tr>
	<td align="center">{{periodo.fechaInicio}}</td>
	<td align="center">{{periodo.fechaFin}}</td>
	<td align="center"><a href="/menu/{{periodo.id_periodoContable}}">Ir</a></td>
	{%if periodo.estadoPeriodo == True%}
	<td align="center">Activo</td>
	{% endif %}
	{%if periodo.estadoPeriodo == False%}
	<td align="center">Cerrado</td>
	{% endif %}
</tr>
{% endfor %}
</table>
<div>
{% endblock content %}