{% extends 'base.html' %}

{% block content %}
<div align="center">
	<table>
		<tr>
			<th>Empleados Contratados</th>
		</tr>
	</table>
	<table>
		<tr>
			<td>DUI</td>
			<td>Empleado</td>
			<td></td>
			<td>Planilla</td>
		</tr>
		<tr>
			{% for empleado in emp %}
				<td>
				{{empleado.dui}}
				</td>
				<td>
				{{empleado.nombreEmpleado}}
				</td>
				<td>
				{{empleado.apellidoEmpleado}}
				</td>
				<td>
				<a href="/planillaGral/{{empleado.dui}}">Ver Planilla</a>
				</td>
		</tr>
			{% endfor %}
	</table>
</div>
{% endblock content %}