{% extends 'base.html' %}

{% block title %}
Listado Periodo Contable
{% endblock title %}

{% block content%}
<div align="center">
<table>
<tr>
	{% for periodo in periodos %}
	{%if periodo.estadoPeriodo == True%}
	<td><a href="/nuevaTrans/{{periodoId}}">Agregar Transaccion</a></td>
	{% endif %}
	{% endfor %}
	<td><a href="/contabilidadGeneral/{{periodoId}}">Regresar</a></td>
</tr>
</table>
	<table>	
	
	<tr>
		<td>Transaccion</td>
		<td>Fecha</td>
		<td>Asignacion</td>
	</tr>
	{% for trans in transacciones%}
	<tr>
		<td>{{trans.descripcion}}</td>
		<td>{{trans.fecha}}</td>
		{% for periodo in periodos %}
		{%if periodo.estadoPeriodo == True%}
		<td><a href="/detalleTrans/{{periodoId}}/{{trans.id_Transaccion}}">Asignar Detalles</a></td>
		{% endif %}
		{% endfor %}
	</tr>
	{% endfor %}
	</table>
</div>
{% endblock content%}